<h1> {{ title }} </h1>
<p>Welcome {{name}} </p>

<a href="http://localhost:3000/jokes">All jokes</a>
<a href="http://localhost:3000/random">Random jokes</a>
<a href="http://localhost:3000/addjoke">Add a joke</a>
